<?xml version="1.0" encoding="utf-8" ?>
<!--共享文件只支持key-value，并且只支持一层key查询,find://eat表示不会保留双引号，find://cat表示保留，link://表示不保留双引号，直接使用引用的value绑定到这里-->
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <template value="true" sharename="share"></template>
  <appSettings>
    <add key="tiantian" value="find://eat@user"/>
    <add key="tianqian" value="find://cat@user"/>

    <!--<add key="tiantian" value="find://eat@user"/>
    <add key="tianqian" value="find://cat@user"/>-->
    <add key="efg" value="[ 2, 3, 4 ]"/>
    <add key="member_conn" value="XbqILBocbyvUTKO+t9byVNatH5F550QnOdNPRgpUvJHIeRVihvQ0XjYyZ2ClLpkbXNmj87cDTd00KfmHyjbe4w=="/>
    <add key="hosturl" value="{&quot;wap&quot;: &quot;http://wap.weekdai.com&quot;,&quot;www&quot;: &quot;http://www.weekdai.com&quot;,&quot;app&quot;: &quot;http://app.weekdai.com&quot;}"/>
    <add key="membera10" value="http://127.0.0.1:8091/a10,http://127.0.0.1:8091/a10"/>
    <add key="memberurl" value="http://127.0.0.1:8091/api/,http://127.0.0.1:8091/api/}"/>
    <add key="memberjson" value="{&quot;url&quot;: [ &quot;http://127.0.0.1:8091/api/&quot;, &quot;http://127.0.0.1:8091/api/&quot; ],&quot;ping&quot;: [ &quot;http://127.0.0.1:8091/a10&quot;, &quot;http://127.0.0.1:8091/a10&quot; ]}"/>

  </appSettings>
</configuration>