<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <application value = "true" version = "1123"></application>
  <appSettings>
    <add key="MemberUrl" value="http://127.0.0.1:7000/api/{0}" />
    <add key="MemberA10" value="http://127.0.0.1:7000/a10.html" />

    <add key="MemberUrl" value="link://eat@share@MemberUrl" />
    <add key="MemberA10" value="link://cat@share@MemberA10" />

    <add key="eat" value="find://eat@abc"/>
    <add key="use" value="find://cat@abc"/>
    
  </appSettings>

  <connectionStrings>
    <add name="member_conn" connectionString="link://cat@share@member_conn"/>
  </connectionStrings>
  
</configuration>